#intro .grid > .intro-heading.handyHr > img {
  height: 30px;
  margin-bottom: 20px;
}
.hrms-handyhr-section.feature {
  background-image: url(../../assests/handybg.png);
  background-size: 100%;
}
.hrms-handyhr-section {
  display: flex;
}
.hrms-handyhr-section > .job-left-section {
  width: 60%;
}
.hrms-handyhr-section > .job-right-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrms-handyhr-section > .job-left-section > h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 150%;
}
.hrms-handyhr-section > .job-left-section > ul {
  margin-top: 50px;
}
.hrms-handyhr-section > .job-left-section > ul > li > .feature-name {
  display: flex;
}
.hrms-handyhr-section > .job-left-section > ul > li > .feature-name > span {
  margin-right: 10px;
}
.hrms-handyhr-section > .job-left-section > ul > li > .feature-name {
  margin: 5px 0px;
}
.hrms-handyhr-section > .job-left-section > ul > li > .feature-name > span {
  color: #fff;
  font-weight: 300;
}
.hr-handy-app-milestone {
  background: #180e5a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-handy-app-milestone > .hr-handy-app-center > h3 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}
.hr-handy-app-milestone > .hr-handy-app-center > img {
  width: 100%;
}
@media screen and (max-width: 1008px) {
  .hrms-handyhr-section {
    flex-direction: column-reverse;
  }
  .hrms-handyhr-section > .job-left-section,
  .hrms-handyhr-section > .job-right-section {
    width: 100%;
  }
  .hrms-handyhr-section > .job-left-section > h2 {
    font-size: 25px;
  }
}
